@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #1f2235;
  scroll-behavior: smooth;
}

header {
  margin-top: 22px;
}

.header-container {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  background-color: cadetblue;
  width: 28px;
  height: 28px;
}

.header__navbar {
  display: flex;
  gap: 30px;
  margin: 20px;
}

.header__item {
  text-decoration: none;
  color: #ffffff;
}

.header__item:hover {
  color: #fe461c;
  transition: 0.3s;
}

.header__button {
  border: 0;
  min-width: 152px;
  min-height: 50px;
  padding: 17px 14px;
  background: #fe461c;
  color: #ffffff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Стилі для бургер-меню */
.header__burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.header__burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
}

/* Адаптивні стилі */
@media (max-width: 768px) {
  .header__button{
    display: none;
  }
  
  .header-container{
    justify-content: space-around;
  }

  .header__navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #1f2235;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .header__navbar.active {
    display: flex;
    align-items: center;
  }

  .header__item:hover {
    color: #fe461c;
}

  .header__burger {
    display: flex;
  }
}


.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 170px;
}

.banner__social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 47px;
}

.banner__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  background-color: #24263b;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
}

.banner__content {
  display: flex;
  flex-direction: column;
  margin-left: 203px;
}
.banner__head-title {
  color: #ffffff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 15%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.banner__title {
  color: #ffffff;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 31px;
}

.banner__title span {
  color: #fe461c;
}

.banner__subtitle {
  color: #ffffff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 36px;
}

.banner__buttons {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.banner__button_active:hover {
  border: 0;
  background: #fe461c;
  transition: 0.5s;
}

.banner__button {
  min-width: 160px;
  min-height: 50px;
  text-align: center;
  background: #1f2235;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.banner__circle {
  position: absolute;
  width: 204px;
  height: 204px;
  top: 300px;
  left: 215px;
}
/* Редагувати----------------------------------------------------------------------- */
.banner__image {
  position: relative;
  width: 783px;
  height: 634px;
  margin-right: 150px;
}

.banner__square {
  display: flex;
  border-radius: 8px;
  background: rgb(13, 13, 15);
  align-items: center;
  justify-content: center;
}

.banner__square-figma {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -30px;
  top: 26px;
}

.banner__square img{
  width: 50px;
  height: 50px;
}

.banner__square-photoshop {
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  top: 26px;
}

.banner__square-diamond {
  position: absolute;
  width: 80px;
  height: 80px;
  right: -75px;
  top: 411px;
}

.banner__square-xd {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 411px;
  left: -75px;
}

.img-circle {
  width: 634px;
  height: 634px;
  border-radius: 50%;
  background-color: #171929;
}

@media (max-width:768px) {

  .banner{
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .banner__social{
    flex-direction: row;
    margin-bottom: 30px;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  .banner__circle {
    position: absolute;
    width: 204px;
    height: 204px;
    top: 60px;
    left: -90px;
  }

  .banner__image {
    display: none;
  }
  
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1195px;
  height: 700px;
  padding-top: 163px;
}

.about__wrapper {
  background-color: #24263b;
  display: flex;
  justify-content: center;
}

.about__image {
  position: relative;
  top: 40px;
}

.about__content {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.about__title {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  padding: 12px 14px 12px 14px;
}

.about__info {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  width: 536px;
}

.about__name {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  margin-bottom: 15px;
}

.about__me {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  margin-bottom: 20px;
}

.about__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__contact {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  margin-bottom: 38px;
}

.about__contact span {
  font-weight: 500;
}

.about__download button {
  min-width: 160px;
  min-height: 50px;
  text-align: center;
  background: #1f2235;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.about__download_active button:hover {
  border: 0;
  background: #fe461c;
}

@media (max-width:768px){
  .about{
    padding-top: 70px;
  }

  .about__content{
    flex-direction: column;
    background: rgb(36, 38, 59);
  }

  .about__image{
    display: flex;
    justify-content: center;
  }

  .about__image img {
    max-width: 70%;
    height: auto;
    top: 40px;
  }  

  .about__info {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    width: auto; 
    padding-bottom: 50px;
  }

  .about__columns{
    text-align: justify;
    justify-content: space-around;

  }

  .about__name{
    text-align: center;
  }

  .about__me{
    text-align: justify;
    padding: 0 20px;
  }

  .about__contact {
    font-size: 14px;
  }

  .about__download{
    display: flex;
    justify-content: center;
  }

}


.portfolio {
  height: 1270px;
  background-color: #1f2235;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__title {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  padding: 12px 14px 12px 14px;
  margin: 120px 0 17px 0;
  width: 115px;
}

.portfolio__subtitle {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 54px;
}

.portfolio__navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.portfolio__item {
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.portfolio__item_active:hover {
  text-decoration: none;
  color: #fe461c;
  transition: 0.3s;
}

.portfolio__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 36px 300px 119px 300px;
  width: 1320px;
  height: 828px;
  gap: 24px;
}

.portfolio__row1 .portfolio__row2 .portfolio__row3 {
  display: flex;
  flex-direction: column;
}

.portfolio__card {
  width: 424px;
  height: 260px;
  border-radius: 8px;
  background-color: #d9d9d9;
  margin-bottom: 24px;
}

.portfolio__card_big {
  width: 424px;
  height: 544px;
  border-radius: 8px;
  background-color: #d9d9d9;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  text-align: left;
  align-items: end;
}

.portfolio__info {
  margin: 461px 100px 28px 29px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}

.portfolio__info span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

@media (max-width:768px) {
  .portfolio{
    margin-top: 300px;
    margin-bottom: -75px;
  }

  .portfolio__title{
    margin: -50px 0 17px 0;
  }

  .portfolio__navbar {
    flex-direction: row;
    gap: 15px;
  }

  .portfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-left: 17px;
  }

  .portfolio__card_big {
    width: 380px;
    height: 500px;
    text-align: center;
  }

  .portfolio__card{
    width: 380px;
  }

  .portfolio__info{
    margin: 458px 67px 28px 55px
  }

  .portfolio__row1{
    display: none;
  }

  .portfolio__row3{
    display: none;
  }
}

.services__wrapper {
  background-color: #24263b;
}

.services {
  height: 1270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1321px;
  height: 750px;
  margin: 0 299px 0px 300px;
}

.services__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  padding: 12px 14px 12px 14px;
  margin: 120px 0 17px 0;
  width: 172px;
  text-align: center;
}

.services__subtitle {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.services__content {
  display: flex;
  flex-direction: row;
  gap: 31px;
  margin: 55px 0 120px 0;
}

.services__card {
  width: 307px;
  height: 360px;
  border-radius: 8px;
  background: rgb(31, 34, 53);
}

.services__card-content {
  display: flex;
  flex-direction: column;
  margin: 41px 39px 41px 25px;
}

.services__topic {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin: 26px 0 27px 0;
}

.services__info {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 37px;
}

.services__button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #ffffff;
  border-style: none;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  cursor: pointer;
}

.services__button_active button:hover {
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(254, 70, 28);
  transform: rotate(360deg);
  transition-duration: 0.8s;
}

@media (max-width:768px){
  .services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: auto;
  }

  .services__content {
    display: flex;
    flex-direction: column;
    gap: 31px;
 margin: 20px auto;
}
}

.resume__wrapper {
  height: 806px;
  background: rgb(31, 34, 53);
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.resume {
  width: 1220px;
  display: flex;
  flex-direction: column;
}

.resume__title {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  padding: 12px 14px 12px 14px;
  margin-bottom: 16px;
  width: 97px;
  text-align: center;
}

.resume__subtitle {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}

.resume__tab {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.resume__navbar-item.resume__navbar-item_active {
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(254, 70, 28);
}

.resume__navbar-item {
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  padding: 10px 19px 10px 19px;
  text-align: center;
  margin-top: 47px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 39px;
}

.resume__content {
  display: flex;
  flex-direction: row;
  gap: 76px;
}

.resume__progress {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.resume__pr-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}

.resume__img {
  position: relative;
  bottom: 105px;
}

@media (max-width:768px){
  .resume__wrapper{
    height: auto;
  }

  .resume{
    width: auto;
    align-items: center;
  }

  .resume__header{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume__content{
    flex-direction: column;
  }

  .resume__progress{
    width: auto;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  .resume__progressbar-section{
    text-align: center;
  }

  .resume__progress-part-illustrator{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 
  }

  .resume__img{
    text-align: center;
  }

  .resume__img img{
    position: relative;
    max-width: 70%;
    bottom: -60px;
  }
  .resume__progressbar-section img{
    max-width: 100%;
  }
}


.testimonial__wrapper{
  height: 806px;
  display: flex;
  justify-content: center;
  background-color: #24263B;
}

.testimonial{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}


.testimonial__header{
  display: flex;
  flex-direction: column;
 align-items: center;
}

.testimonial__title{
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  max-width: 161px;
  padding: 12px 26px 12px 26px;
  margin-bottom: 16px;
  text-align: center;
}

.testimonial__subtitle{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;  
  letter-spacing: 0%;
  text-align: center;
}

.testimonial__card-wrapper{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 49px;
}

.testimonial__card{
  display: flex;
  flex-direction: column;
  background: rgb(31, 34, 53);
}

.testimonial__card-name-section{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.testimonial__card{
  max-width: 424px;
  max-height: 241px;
}

.testimonial__card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41px;
  margin-left: 42px;
}

.testimonial__name{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.testimonial__card-header-image{
  margin-right: 97px;
}

.testimonial__position{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.testimonial__underline{
  min-height: 1px;
  max-width: 290px;
  background-color: rgb(230, 231, 232);
  margin-left: 43px;
  margin-top: 14px;
  margin-bottom: 15px;
}

.testimonial__feedback{
margin-left: 42px;
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 29px;
}

.testimonial__triangle{
  position: relative;
  top: -50px;
}

@media (max-width:768px) {
  .testimonial__wrapper{
    height: auto;
 
  }

  .testimonial{
    margin-bottom: 40px;
  }

  .testimonial__img{
    display: none;
  }

  .testimonial__card-wrapper{
    flex-direction: column;
    gap: 40px;
  }
}

.blog__wrapper{
  height: 862px;
  display: flex;
  justify-content: center;
  background: rgb(31, 34, 53);
}

.blog__content{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.blog__header{
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-top: 120px;
 margin-bottom: 61px;
}

.blog__title{
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  max-width: 161px;
  padding: 12px 26px 12px 26px;
  margin-bottom: 16px;
  text-align: center;
}

.blog__subtitle{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;  
  letter-spacing: 0%;
  text-align: center;
}

.blog__card{
  max-width: 424px;
}

.blog__card-content{
  display: flex;
  flex-direction: column;
}

.blog__meta{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 23px;
}

.blog__part{
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  gap: 9px;
  margin-top: 28px;
}

.blog__text_bold{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.blog__text_small{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width:768px) {

  .blog__wrapper{
    height: auto;
    padding-bottom: 50px;
  }

  .blog__content{
    flex-direction: column;
  }

  .blog__card-content{
    align-items: center;
  }

  .blog__text_bold{
    text-align: center;
  }

  .blog__text_small{
    text-align: center;
  }

  .blog__image{
    text-align: center;
  }

  .blog__image img{
    max-width: 85%;
  }
}

.subscribe_wrapper{
  height: 630px;
  background-color: #24263B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe{
  width: 1320px;
  height: 390px;
  border-radius: 8px;
  background: rgb(31, 34, 53);
  display: flex;
  flex-direction: row;
}

.subscribe__section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 165px;
  margin-left: 80px;
}

.subscribe__text{
  display: flex;
  flex-direction: column;
  width: 480px;
}

.subscribe__text_middle{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 9px;
}

.subscribe__text_bold{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.subscribe__text_small{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.subscribe__search{
  display: flex;
  align-items: center;
}

.subscribe__search input{
  min-width: 550px;
  min-height: 60px;
  border-radius: 80px;
  background: rgb(255, 255, 255);
  border: 0;

}

.subscribe__search input::placeholder{
  padding-left: 20px;
  color: #9DA1B4;
}

.subscribe__search button{
  position: relative;
  right: 190px;
  width: 190px;
  height: 62px;
  border-radius: 80px;
  background: rgb(254, 70, 28);
  border:0;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

@media (max-width:768px) {
  .subscribe{
    width: auto;
  }

  .subscribe__section{
    flex-direction: column;
    margin: auto;
    gap: 0;
  }

  .subscribe__text_middle{
    font-size: 20px;
    text-align: center;
  }

  .subscribe__text_bold{
    font-size: 45px;
    text-align: center;
  }

  .subscribe__text_small{
    font-size: 16px;
    text-align: center;
  }

  .subscribe__search{
    margin-top: 80px;
    margin-left: 120px;
  }

  .subscribe__search input{
    min-width: 350px;
  }

  .subscribe__search button{
    right: 118px;
    width: 120px;
  }
}

.contact__wrapper{
  background-color: #1F2235;
  display: flex;
  justify-content: center;
}

.contact__header{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 120px;
margin-bottom: 46px;
}

.contact__title{
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  text-align: center;
  max-width: 161px;
  padding: 12px 26px 12px 26px;
  margin-bottom: 16px;
  text-align: center;
}

.contact__subtitle{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;  
  letter-spacing: 0%;
  text-align: center;
}

.contact__data{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__data-card{
  width: 368px;
  height: 117px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding-left: 30px;
  padding-right: 25px;
}

.contact__elipse{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__text-title{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.contact__text-address{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.contact__content{
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 80px;
}

.contact__form-title{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 28px;
}

.contact__input-header{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contact__input-header input{
  width: 335px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
  padding-left: 29px;
}

.contact__input-header input::placeholder{
  color: rgb(112, 113, 123);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.contact__input-main input{
  width: 700px;
  height: 210px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
  margin-top: 18px;
  padding-left: 32px;
  padding-top: 15px;
}

.contact__input-main input::placeholder{
  position: absolute;
  top: 15px;
  left: 32px;
  color: rgb(112, 113, 123);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.contact__button button{
  margin-top: 40px;
  width: 220px;
  height: 56px;
  border-radius: 4px;
  background: rgb(254, 70, 28);
  border: 0;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.contact__footer iframe{
  width: 1169px;
  height: 550px;
  border-radius: 8px;
}

.contact__footer{
  margin-bottom: 120px;
}

@media (max-width:768px) {
  .contact__content{
    flex-direction: column;
  }

  .contact__data{
    align-items: center;
  }

  .contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__input-header{
    flex-direction: column;
    align-items: center;
  }

  .contact__input-main input{
    width: 335px;
  }

  .contact__button{
    display: flex;
    justify-content: center;
  }

  .contact__footer iframe{
    width: 370px;
    height: 330px;
  }
}

footer{
  height: 90px;
  background: rgb(36, 38, 59);
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}