@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: #1F2235;
    scroll-behavior: smooth;
}

.header-container{   
font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 15px;
text-transform: capitalize;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.header__logo{
    background-color: cadetblue;
    width: 28px;
    height: 28px;
}

.header__navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 50px 15px 480px;
}

.header__item{
    text-decoration:none;
    color:#FFFFFF;
}

.header__item_active:hover{
    text-decoration:none;
    color:#FE461C;
}

.header__button{
    border: 0;
    min-width: 152px;
    min-height: 50px;
    padding:17px 14px 18px 15px ;
    background:#FE461C;
    color: #FFFFFF;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 170px;
}

.banner__social{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 47px;
}

.banner__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #24263B;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
}

.banner__content{
    display: flex;
    flex-direction: column;
    margin-left: 203px;
}
.banner__head-title{
    color: #FFFFFF;
font-family: Outfit;
font-size: 16px;
font-weight: 900;
line-height: 20px;
letter-spacing: 15%;
text-align: left;
text-transform: capitalize;
}

.banner__title{
    color: #FFFFFF;
    font-family: Outfit;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.banner__title span{
    color: #FE461C;
}

.banner__subtitle{
    color: #FFFFFF;
font-family: Outfit;
font-size: 16px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

.banner__buttons{
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.banner__button_active:hover{
    border: 0;
background: #FE461C;
}

.banner__button{
    min-width: 160px;
    min-height: 50px;
    text-align: center;
    background: #1F2235;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
border: 2px solid rgb(255, 255, 255);
border-radius: 4px;
font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0%;
text-transform: capitalize;
}

.banner__circle{
position: absolute;
width: 204px;
height: 204px;
top: 300px;
left: 215px;
}
/* Редагувати----------------------------------------------------------------------- */
.banner__image{
    position: relative;
    width: 783px;
    height: 634px;
    margin-right: 150px;
}

.banner__square{
    display: flex;
    border-radius: 8px;
    background: rgb(13, 13, 15);
    align-items: center;
    justify-content: center;

}

.banner__square-figma{
position: absolute;
width: 80px;
height: 80px;
left: -30px;
top: 26px;
}

.banner__square-photoshop{
position: absolute;
width: 80px;
height: 80px;
right: -40px;
top: 26px;
}

.banner__square-diamond{
position: absolute;
width: 80px;
height: 80px;
right: -75px;
top: 411px;
}

.banner__square-xd{
position: absolute;
width: 80px;
height: 80px;
top: 411px;
left: -75px;
}

.img-circle{

    width: 634px;
    height: 634px;
    border-radius: 50%;
    background-color: #171929;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1195px;
    height: 636.81px;
    margin: 0 422px 0 303px;
    padding-top: 163px;
}

.about__wrapper{
    background-color: #24263B;
}

.about__image{
    margin-top: 140px;
}

.about__content{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.about__title{
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    border-radius: 4px;
box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
background: rgb(36, 38, 59);
text-align: center;
padding: 12px 14px 12px 14px;
}

.about__info{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
}

.about__name{
    color: rgb(255, 255, 255);
font-family: Outfit;
font-size: 36px;
font-weight: 600;
line-height: 48px;
text-align: left;
margin-bottom: 15px;
}

.about__me{
    color: rgb(255, 255, 255);
font-family: Outfit;
font-size: 16px;
font-weight: 300;
line-height: 26px;
text-align: left;
margin-bottom: 20px;
}

.about__columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__contact{
    color: rgb(255, 255, 255);
font-family: Outfit;
font-size: 16px;
font-weight: 300;
line-height: 26px;
text-align: left;
margin-bottom: 38px;
}

.about__contact span{
font-weight: 500;
}

.about__download button{
    min-width: 160px;
    min-height: 50px;
    text-align: center;
    background: #1F2235;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
border-radius: 4px;
font-family: Outfit;
font-size: 16px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0%;
text-transform: capitalize;
}

.about__download_active button:hover{
    border: 0;
background: #FE461C;
}